* {
  box-sizing: border-box;
}

.center {
    display: block;
    text-align: center;
  }
  
.yukari {
    color: #7F00FF;
}

.yoshika {
    color: #5e6283;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
}